<!--Row 1-->
<h1 class="Display 1 text-light bg-dark pl-1">Chào mừng đến với EstorePro</h1>
<div class="row">
  
	<div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title">Biểu đồ doanh số</h4>
              <canvas id="barChart" style="display: block; height: 271px; width: 542px;" width="677" height="338" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Tổng doanh số</p>
            <h1>1.562.322 đ</h1>
            <h4>Mô tả doanh số</h4>
            <div id="total-sales-chart-legend"></div>                  
          </div>
          <canvas id="total-sales-chart"></canvas>
        </div>
      </div>
</div>